body {
    background-color: #7a7a7a54;
}

h1 {
    text-align: center;
    font-family: "Trebuchet MS", Times, serif;
}

p {
    font-family: "Trebuchet MS", Times, serif;
}

b {
    font-family:"Trebuchet MS", Times, serif;
}

nav {
    text-align:center;
    font-family:"Trebuchet MS", Times, serif;
}